<script setup lang="ts">
import { postUse } from '~/composable/post.use';
import { PostFormModel } from '~/model/dialog/post-form-model';
import { postCreateUse } from '~/composable/post-create.use';
import { postUpdateUse } from '~/composable/post-update.use';

const postId = ref(null);
const crudDialog = ref(null);
const { post, postLoading } = postUse(postId);
const { postCreate, postCreateLoading } = postCreateUse();
const { postUpdate, postUpdateLoading } = postUpdateUse();
const emit = defineEmits(['submit']);

const model = ref<PostFormModel>(PostFormModel.default());
watch(post, (res) => {
  model.value = PostFormModel.fromModel(res);
});
const open = (postIdArg: number) => {
  postId.value = postIdArg;
  crudDialog.value.open();
};

const close = () => {
  postId.value = null;
  model.value = PostFormModel.default();
  crudDialog.value.close();
};

const send = async () => {
  const dto = model.value.toDto();
  if (dto?.id) {
    await postUpdate(dto);
  } else {
    await postCreate(dto);
  }
  console.log('sendddddd');
  close();
  emit('submit');
};

defineExpose({
  open,
  close
});
</script>

<template>
  <CrudDialog ref="crudDialog">
    <template v-slot:title> Создание поста </template>
    <template v-slot:content>
      <Preloader
        :data="post"
        :loading="postLoading || postCreateLoading || postUpdateLoading"
        v-if="postLoading"
      />
      <div v-else>
        <div class="block">
          <p class="title">Заголовок</p>
          <input type="text" class="input" v-model="model.title" />
        </div>
        <div class="block">
          <p class="title">Краткое описание</p>
          <input type="text" class="input" v-model="model.description" />
        </div>
        <div class="block">
          <p class="title">Привью основной картинки url</p>
          <input type="text" class="input" v-model="model.imgUrl" />
        </div>
        <div class="buttons">
          <button class="button">Закрыть</button>
          <button class="button" @click="send">Отправить</button>
        </div>
      </div>
    </template>
  </CrudDialog>
</template>

<style scoped>
.buttons {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}

.block {
  padding: 0 20px;
  margin-bottom: 20px;
}

.input {
  background-color: transparent;
  border: solid 1px #999999;
  display: block;
  width: 100%;
  outline: 0;
  padding: 4px;
  color: #999;
}

.button {
  margin: 0;
  margin-left: 10px;
}

.title {
  margin: 0;
  padding-bottom: 5px;
}
</style>
