<script setup lang="ts">
import type { PostShort } from '~/entry/post-short';
import type { PropType } from '@vue/runtime-core';

const props = defineProps({
  data: {
    type: Object as PropType<PostShort>,
    required: true
  }
});
</script>

<template>
  <div class="blog">
    <img class="preview-img" :src="props.data.imgPreview" alt="" />
    <div class="content">
      <h3 class="title">{{ props.data.title }}</h3>
      <p class="description">{{ props.data.descriptionShort }}</p>
    </div>
  </div>
</template>

<style scoped>
.blog {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.blog:hover {
  color: #eee;
}

.blog:hover > .preview-img {
  scale: 1.1;
}

.preview-img {
  display: block;
  height: 100px;
  min-width: 150px;
  max-width: 150px;
  object-fit: cover;
  margin-right: 20px;
  transition: 0.1s;
}

.title {
  margin: 0;
  transition: 0.1s;
}

.description {
  margin: 5px 0 0 0;
  transition: 0.3s;
}
</style>
