<script setup lang="ts">
const isShow = ref(false);
const open = () => {
  isShow.value = true;
};

const close = () => {
  isShow.value = false;
};
defineExpose({
  open,
  close
});
</script>

<template>
  <div class="dialog" @click="close" v-if="isShow">
    <div class="center" @click.stop>
      <button class="button"></button>
      <slot>
        <div class="title">
          <slot name="title">Текст формы</slot>
        </div>
        <div class="content">
          <slot name="content">Контент формы</slot>
        </div>
      </slot>
    </div>
  </div>
</template>

<style scoped>
.dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000088;
}

.center {
  width: 100%;
  max-width: 600px;
  background-color: #222;
  position: relative;
  border-radius: 4px;
  border: solid 1px #999;
}

.title {
  border-bottom: solid 1px #999;
  padding: 20px 10px;
  font-size: 18px;
  color: #fff;
}

.button {
  position: absolute;
  right: 10px;
  top: 20px;
  display: block;
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 25px;
  height: 25px;
}

.button::before {
  top: 10px;
  content: '';
  display: block;
  width: 25px;
  height: 3px;
  transform: rotateZ(45deg);
  background-color: #fff;
  position: absolute;
  border-radius: 2px;
}

.button::after {
  top: 10px;
  content: '';
  display: block;
  width: 25px;
  height: 3px;
  transform: rotateZ(-45deg);
  background-color: #fff;
  position: absolute;
  border-radius: 2px;
}

.content {
  padding: 20px 10px;
}
</style>
