<script setup>
const props = defineProps({
  data: {
    required: true
  },
  loading: {
    type: Boolean,
    required: true
  },
  error: {
    type: Boolean,
    default: () => false
  },
  errorInfo: {
    type: [String, null],
    default: () => 'Неизвестная ошибка обновите страницу'
  },
  errorText: {
    type: String,
    default: () => 'Ошибка загрузки'
  }
});
</script>

<template>
  <div class="block" v-if="props.loading && !props.error">
    <div class="preloader">
      <div></div>
      <div></div>
    </div>
  </div>
  <div v-else-if="(!props.loading && props.error) || !data">
    <p>{{ props.errorText }}</p>
    <p>{{ props.errorInfo }}</p>
  </div>
  <slot v-else></slot>
</template>

<style scoped>
.block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.preloader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px auto;
}
.preloader div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: preloader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.preloader div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes preloader {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
</style>
