<template>
  <div class="app">
    <header class="header">
      <slot name="header" />
    </header>
    <main class="main">
      <slot name="main" />
    </main>
  </div>
</template>

<style scoped>
.app {
  width: 100%;
  max-width: 1020px;
  border-left: solid 1px #999;
  border-right: solid 1px #999;
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 100%;
}

.header {
  border: solid 1px #999;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
}
</style>
