body,
h1 {
  margin: 0;
}

body {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222;
  color: #999;
}

body, html, #__nuxt {
  min-height: 100%;
  height:100%;
}

.button {
  border: solid 1px #999999;
  outline: 0;
  background: transparent;
  padding: 5px 15px;
  color: #999999;
  transition: 0.2s;
  display: block;
  cursor: pointer;
}

.button:hover {
  color: #fff;
  scale: 1.1;
  border-color: #fff;
}
