<script setup lang="ts">
import { postApi } from '~/api/post.api';
import TemplateMain from '~/components/TemplateMain.vue';
import PostForm from '~/components/form/PostForm.vue';

const { params } = useRoute();
const postId = ref(~~params.id);
const postForm = ref(null);

const {
  data: post,
  pending: postLoading,
  error: postError,
  refresh
} = useAsyncData('postGetById', () => postApi.getById(postId.value), {
  watch: [postId],
  lazy: true
});

const findNextId = () => {
  const indexCurrentPostId = post.value.posts.findIndex(
    (el) => el == postId.value
  );
  if (indexCurrentPostId == -1) return post.value.posts[0];
  if (indexCurrentPostId + 1 <= post.value.posts.length - 1) {
    return post.value.posts[indexCurrentPostId + 1];
  } else {
    return post.value.posts[0];
  }
};
const getPostId = () => {
  postId.value = findNextId();
};
</script>

<template>
  <template-main>
    <template v-slot:header>
      <div class="header">
        <NuxtLink to="/" class="title-link">
          <h1 class="title">My blog test task</h1>
          <p class="path" v-if="!postLoading">> blog > {{ post?.title }}</p>
        </NuxtLink>
        <button
          v-if="!postLoading"
          @click="postForm.open(post.id)"
          class="button"
        >
          edit
        </button>
      </div>
    </template>
    <template v-slot:main>
      <Preloader
        :data="post"
        :error="!!postError"
        :loading="postLoading"
        :error-info="postError"
      >
        <template v-slot:default>
          <img :src="post.pageContent.img" alt="" class="img" />
          <div class="content">
            <h1>{{ post.title }}</h1>
            <p>{{ post.pageContent.description }}</p>
            <p>{{ post.pageContent.date }}</p>
            <div class="buttons">
              <button class="button button-bottom" @click="getPostId">
                Далее не используя роутер
              </button>
              <NuxtLink :to="`/blog/${findNextId()}`">
                <button class="button button-bottom">Далее</button>
              </NuxtLink>
            </div>
          </div>
        </template>
      </Preloader>
      <PostForm ref="postForm" @submit="refresh()" />
    </template>
  </template-main>
</template>

<style scoped>
.img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.content {
  padding: 0 20px 0 20px;
  color: #fff;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.title {
  margin: 0;
  padding: 0;
}

.title-link {
  text-decoration: none;
  display: flex;
  color: #999;
  align-items: center;
}

.path {
  margin: 0;
  padding-left: 10px;
}

.button-bottom {
  margin-bottom: 20px;
}

.button {
  margin-left: 10px;
}

.header {
  display: flex;
}
</style>
