<script setup lang="ts">
import { postApi } from '~/api/post.api';
import BlogPreview from '~/components/BlogPreview.vue';
import TemplateMain from '~/components/TemplateMain.vue';
import PostForm from '~/components/form/PostForm.vue';

const {
  data: posts,
  pending: postsLoading,
  error: postsError,
  refresh
} = await useAsyncData('postGetAll', () => postApi.getAll(), {
  lazy: true
});

const postForm = ref(null);
</script>

<template>
  <template-main>
    <template v-slot:header>
      <div class="title">
        <h1>My blog test task</h1>
        <button @click="postForm.open()" class="button">add new post</button>
      </div>
    </template>
    <template v-slot:main>
      <Preloader
        :data="posts"
        :error="!!postsError"
        :loading="postsLoading"
        :error-info="postsError"
      >
        <div class="blogs">
          <div v-for="element in posts" :key="element.id">
            <NuxtLink :to="`/blog/${element.id}`" class="link">
              <BlogPreview :data="element" />
            </NuxtLink>
            <button class="button" @click="postForm.open(element.id)">
              Edit
            </button>
          </div>
        </div>
        <PostForm ref="postForm" @submit="refresh()" />
      </Preloader>
    </template>
  </template-main>
</template>

<style scoped>
.blogs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.title {
  text-decoration: none;
  display: flex;
  color: #999;
  align-items: center;
}

.button {
  margin-left: 10px;
}
</style>
